[user]
	name = di4m0nds

[color]
	ui = true
  status = auto
  branch = auto
  interactive = auto

[alias]
  a = "!git status --short | peco | awk '{print $2}' | xargs git add"
  co = checkout
  ci = commit
  st = status
  br = branch
  ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
  pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
